.thumbnail{
    width: 200px;
    height: 350px;
    overflow: auto;
}
.modal-title
{
    background-color: green;
}
.modal-dialog
{
    background-color: #aaa;
}
.active_nav
{
	background-color: red;
	border-radius: 10px;
}